#pricing{background-color: rgb(248, 249, 250);}

.pricing__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #4c4d4d;
    padding: 2.5%;
}

.w25{
    width: 25%;
    display: flex;
}

.pricing__content__box, .box__head, .box__body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing__content__box{
    margin: 0 .875rem;
}

.box__head{
    color: white;
    width: 20vw;
    border-radius: 5px 5px 0 0;
    padding: 1.5rem 0;
    background-color: #6c757d;
    font-size: 1.5rem;
}

.box__body{
    width: 20vw;
    background-color: white;
    padding: 1.5rem 0;
}

.box__body h5{
    font-size: 2.25rem;
    color: #4c4d4d;
    line-height: 1.2;
}

.box__body p{
    font-size: .875rem;
    font-weight: 600;
    color: #000;
    padding: .3rem .5rem;
    background-color: #ffc107;
    border-radius: 50rem;
}

.box__body ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem 0;
}

.box__body li{
    margin-right: 1.5rem;
    font-size: .875rem;
    flex-direction: row;
    padding: .875rem 1.15rem .875rem 0;
    border-bottom: 1px solid #eaeaea;
    width: 100%;
}

.box__body i{
    margin-right:.5rem;
    text-align: left;

}

.box__body a{
    text-decoration: none;
    padding: 1rem 2rem;
    color: white;
    box-shadow: 0 5px 15px rgba(0,0,0,.15);
    background-color: #6C757D;
    font-weight: 500;
    border-radius: 5px;
    transition: .5s ease-in-out;
}

.box__body a:hover{
    background-color: #5c656c;
    box-shadow: 0 5px 15px rgba(0,0,0,.30);
}

.standard > a{
    background-color: #0d6efd;
}

.standard > a:hover{
    background-color: #0a5ad3;
}